<div class="xl:flex-row items-center gap-5 justify-end mb-4 hidden xl:flex">
  <label for="grid-selector">Taille de grille</label>
  <select id="grid-selector" class="px-5" [(ngModel)]="selectedOption">
    <option *ngFor="let option of options" [value]="option">{{ option }}</option>

  </select>
</div>

<div class="grid gap-5 sm:grid-cols-1 md:grid-cols-3"  [ngClass]="' xl:grid-cols-' + selectedOption">

  <div *ngFor="let media of medias"
       (click)="toggleMediaSelection(media)"
       class="relative border rounded-lg shadow-sm p-2 flex flex-col bg-white cursor-pointer transition-all duration-200"
       [ngClass]="{
         'ring-4 ring-indigo-500 border-indigo-600': isSelected(media),
         'hover:ring-2 hover:ring-indigo-300': !isSelected(media)
       }">

    <img [src]="getOptimizedImageUrl(media.url, 400, 250)"
         alt="media"
         class="w-full h-auto rounded object-cover"
         loading="lazy" />

    <div class="text-center font-medium capitalize text-gray-800 mt-2">
      {{ media.title }}
    </div>

    <!-- Optional visual checkmark -->
    <div *ngIf="isSelected(media)" class="absolute top-2 right-2 bg-indigo-600 text-white rounded-full p-1">
      <span class="material-icons text-sm">check</span>
    </div>
  </div>
</div>
