<div *ngIf="isLoading" class="border-red-500 flex items-center justify-center p-2 mb-2"><mat-spinner></mat-spinner>
</div>

<div *ngIf="!isLoading && categories" class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-4 p-16">
  <div
    *ngFor="let cat of categories"
    class="p-4 border rounded-xl shadow hover:shadow-md transition-all cursor-pointer bg-white flex flex-col items-center justify-around"
  >
    <a
      [routerLink]="['/categories', cat.slug]"
      class="text-lg font-semibold text-teal-600 hover:text-teal-800 block capitalize flex flex-col items-center justify-center text-center"
    >
      {{ cat.name }}

    <img [src]="cat?.medias[0]?.url ?? '/assets/placeholder.jpg'" height="50" width="50"/>
  </a>
  </div>
</div>
