<div *ngIf="isLoading && !hasError" class="border-red-500 flex items-center justify-center p-2 mb-2">
  <mat-spinner></mat-spinner>
</div>


<div *ngIf="hasError && !isLoading" class="p-4 text-red-600 text-center">
  ❌ Catégorie introuvable ou erreur serveur.
</div>

<div *ngIf="!isLoading && !hasError" class="p-4 md: p-16">
  <h2 class="text-2xl font-bold mb-4 capitalize align-baseline flex flex-row items-center gap-5">
    <img src={{category.medias[0]?.url}} height="50" width="50" />
    {{ category.name }} ({{ category.products?.length || 0
    }})
  </h2>
  <!-- <p>Slug: {{ category.slug }}</p> -->
  <!-- <p>Produits: {{ category.products?.length || 0 }}</p> -->

  <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6 mt-6">


    <div *ngFor="let product of category.products"
      class="p-4 border rounded-xl shadow hover:shadow-md transition-all cursor-pointer bg-white flex flex-row justify-between">
      <a [routerLink]="['/products', product.slug]">
        <div class="flex flex-col item w-[100%] gap-2">
          <h3 class="capitalize">{{product.name}}</h3>
          <h3 class="text-2xl font-bold">{{product?.price}} €</h3>

          <div *ngIf="!getFirstMediaUrl(product)">
            <img src="assets/placeholder.jpg" class="object-cover" />
          </div>

          <div *ngIf="product.medias != 0" class="w-full flex items-center justify-center">
            <img
            *ngIf="getFirstMediaUrl(product)"
            [src]="getFirstMediaUrl(product)"
            alt="Image principale"
            class="object-cover w-[50%]"
          />
          </div>
        </div>
      </a>
        <span class="material-icons no-underline">visibility</span>


    </div>

  </div>

</div>