<section id="new-sales" aria-labelledby="new-sales" class="bg-white py-16">
  <div class="mx-auto max-w-screen-xl lg:gap-12 lg:py-20 px-4 py-16">

    <!-- Titre -->
    <div class="text-left mb-10">
      <h2 class="text-3xl font-bold text-gray-900 sm:text-5xl"><span class="text-teal-600">N</span>ouveautés
      </h2>
      <p class="mt-2 text-gray-600">Découvrez nos derniers produits ajoutés à la boutique</p>
    </div>

    <!-- Grille produits -->
    <div class="grid gap-8 sm:grid-cols-2 lg:grid-cols-4">

      <!-- Carte produit -->
      <div *ngFor="let product of products"
        class="group relative bg-white border rounded-lg shadow-sm overflow-hidden hover:shadow-lg transition">

        <img [src]="product.medias?.[0]?.url || 'assets/placeholder.jpg'" alt="{{ product.name }}"
          class="w-full object-cover h-1/2">


        <div class="p-4 h-1/2 ">
          <div class="h-2/3">
            <h3 class="text-lg font-semibold text-gray-900 group-hover:text-teal-600 transition capitalize h-1/2">
              {{product.name}}</h3>
            <p class="text-sm text-gray-500 lowercase"><span
                class="capitalize">{{product.description.slice(0,1)}}</span>{{product.description.slice(1,product.description.length)}}
            </p>
          </div>

          <div class="h-1/4 flex flex-row items-center justify-between">
            <span class="text-lg font-bold text-teal-600">{{product.price}}€</span>
                 <a [routerLink]="['/products', product.slug]"
              class="px-3 py-1 bg-teal-600 text-white rounded-md text-sm hover:bg-teal-700 transition">Voir</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>