<p>Ajouter une marque , modifier supprimer marque</p>
<button (click)="addBrand()"
  class="border p-2 px-4 my-2 bg-indigo-500 font-bold text-white hover:bg-indigo-800 transition-all">Ajouter une
  marque</button>

  <ul class="space-y-2">
    <li *ngFor="let brand of brands" class="p-3 border rounded shadow-sm capitalize flex flex-row items-center justify-between">
      <div>{{ brand.name }}</div>
      <div class="flex flex-row gap-5">
        <span class="material-icons cursor-pointer opacity-[0.5] hover:opacity-[1] transition-all" (click)="editBrand(brand)">edit</span>
        <span class="material-icons cursor-pointer opacity-[0.5] hover:opacity-[1] transition-all" (click)="deleteBrand(brand)">delete</span>
        <span class="material-icons cursor-pointer opacity-[0.5] hover:opacity-[1] transition-all" (click)="openMediaSelector(brand)">
          insert_photo
          </span>
      </div>

    </li>
  </ul>