<p>Ajouter un produit , modifier supprimer produit</p>
<button (click)="addProduct()"
  class="border p-2 px-4 my-2 bg-teal-600 font-bold text-white hover:bg-teal-800 transition-all">Ajouter un
  produit</button>

  <ul class="space-y-2">
    <li *ngFor="let product of products" class="p-3 border rounded shadow-sm capitalize flex flex-row items-center justify-between">
      <div>{{ product.name }}</div>
      <div class="flex flex-row gap-5">
        <span class="material-icons cursor-pointer opacity-[0.5] hover:opacity-[1] transition-all" (click)="editProduct(product)">edit</span>
        <span class="material-icons cursor-pointer opacity-[0.5] hover:opacity-[1] transition-all hover:text-red-500" (click)="deleteProduct(product)">delete</span>
        <div class="relative inline-block">
          <span
            class="material-icons cursor-pointer opacity-[0.5] hover:opacity-[1] transition-all"
            (click)="openMediaSelector(product)"
          >
            insert_photo
          </span>

          <span
            *ngIf="product.medias?.length"
            class="absolute -top-3 -right-3 text-[10px] font-bold bg-teal-600 text-white rounded-full w-5 h-5 flex items-center justify-center"
          >
            {{ product.medias?.length }}
          </span>
        </div>

      </div>

    </li>
  </ul>
