<p>Ajouter un produit , modifier supprimer produit</p>
<button (click)="addProduct()"
  class="border p-2 px-4 my-2 bg-indigo-500 font-bold text-white hover:bg-indigo-800 transition-all">Ajouter un
  produit</button>

  <ul class="space-y-2">
    <li *ngFor="let product of products" class="p-3 border rounded shadow-sm capitalize flex flex-row items-center justify-between">
      <div>{{ product.name }}</div>
      <div class="flex flex-row gap-5">
        <span class="material-icons cursor-pointer opacity-[0.5] hover:opacity-[1] transition-all" (click)="editProduct(product)">edit</span>
        <span class="material-icons cursor-pointer opacity-[0.5] hover:opacity-[1] transition-all" (click)="deleteProduct(product)">delete</span>
        <span class="material-icons cursor-pointer opacity-[0.5] hover:opacity-[1] transition-all" (click)="openMediaSelector(product)">
          insert_photo
          </span>
      </div>

    </li>
  </ul>
